<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Clothes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Clothes</h1>
	<table>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Type</th>
			<th>Producer</th>
			<th>Price</th>
		</tr>

		<tr th:each="cloth : ${cloth}">
			<td th:text="${cloth.name}"></td>
			<td th:text="${cloth.type}"></td>
			<td th:text="${cloth.producer}"></td>
			<td th:text="${cloth.price}"></td>
			<td> <a th:href="@{/delete/{id}(id=${cloth.id})}">Delete</a></td>
 			<td><a th:href="@{/edit/{id}(id=${cloth.id})}">Edit</a></td>
		</tr>
	</table>
	<a href="/index">Home page</a>
</body>
</html>