<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Clothes</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="col-md-4">
	<h1>Clothes</h1>
	<h2><a href="/index" class="btn btn-outline-primary">Home page</a>
	<a href="/add" class="btn btn-outline-success">Add product</a>
	<a href="/producerlist" class="btn btn-outline-primary">Producerlist</a>
	</h2>
	</div>
	<table class="table table-striped">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Type</th>
			<th>Producer</th>
			<th>Price</th>
			<th></th>
			<th></th>
		</tr>

		<tr th:each="cloth : ${cloth}">
			<td th:text="${cloth.id}"></td>
			<td th:text="${cloth.name}"></td>
			<td th:text="${cloth.type}"></td>
			<td> <a th:text="${cloth.producer.name}" th:href="@{/listbyproducer/{id}(id=${cloth.producer.producerid})}"></a></td>
			<td th:text="${cloth.price}"></td>
			<td> <a th:href="@{/delete/{id}(id=${cloth.id})}" class="btn btn-outline-danger">Delete</a></td>
 			<td><a th:href="@{/edit/{id}(id=${cloth.id})}" class="btn btn-outline-info">Edit</a></td>
		</tr>
	</table>
</body>
</html>