<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Edit product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<div th:replace="headerfragments.html"></div>
<body>
	<h1>Edit product</h1>
	<div>
		<form th:object="${cloth}" th:action="@{/save}" action="#" method="post">
			<input type="hidden" id="id" th:field="*{id}" />
			
			<div>
		  	<label for="Name">Name</label>
			<input type="text" id="name" th:field="*{name}" />
			</div>
			
			<div>
		  	<label for="Type">Type</label>
			<input type="text" id="type" th:field="*{type}" />
			</div>
			

			<div>
			<label for="producerlist">Producer</label>
			<select id="producerlist" th:field ="*{producer}">
				<option th:each="producer: ${producers}" th:value="${producer.producerid}" th:text="${producer.name}"></option>
			</select>
			</div>
			
			<div>
			<label for="Description">Description</label>
			<input type="text" id="description" th:field="*{description}" />
			</div>
			
			<div>
			<label for="price">Price</label>
			<input type="number" id="price" th:field="*{price}" />
			</div>
			
			
			<input type="submit" value="Save" class="btn btn-success"></input>
			
		</form>
	</div>
</body>
</html>