<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Clothes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body class="col-md-4">
	<h1>Edit producer</h1>
	<div th:replace="headerfragments.html">
	</div>
	<div>
		<form th:object="${producer}" th:action="@{/saveproducer}" action="#" method="post">
			<input type="hidden" id="id" th:field="*{producerid}" />
			
			<div>
		  	<label for="Name">Name</label>
			<input type="text" id="name" th:field="*{name}" />
			</div>
			
			
			<input type="submit" value="Save" class="btn btn-success"></input>
			
		</form>
	</div>
</body>
</html>