<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>List by producer</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div class="col-md-4">
	<h1 th:text="${producer.name}">List by producer</h1>
	<div th:replace="headerfragments.html">
	</div>
	<a href="/clothlist" class="btn btn-info">Back</a>
</div>
	
	<table class="table table-striped">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Type</th>
			<th>Producer</th>
			<th>Price</th>
			<th></th>
			<th></th>
		</tr>
		
		<tr th:each="cloth : ${producer.clothes}" >
		
			<td th:text="${cloth.id}"></td>
			<td th:text="${cloth.name}"></td>
			<td th:text="${cloth.type}"></td>
			<td th:text="${cloth.producer.name}"></td>
			<td th:text="${cloth.price}"></td>

		</tr>
	</table>
</body>
</html>